<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="xFilm5.QRStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
        <!-- Timeout Value used in SqlCommand in Seconds -->
        <add key="CommandTimeoutValue" value="600" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <add key="SqlHelper" value="Data Source=10.240.0.4;Initial Catalog=xFilm3_NuStar;Persist Security Info=True;User ID=sa;Password=sa-9602" />
    </appSettings>
    <dataConfiguration defaultDatabase="xFilm5.QRStation.Properties.Settings.SysDb" />
    <connectionStrings>
        <add name="xFilm5.QRStation.Properties.Settings.SysDb" connectionString="Data Source=10.240.0.4;Initial Catalog=xFilm3_NuStar;Persist Security Info=True;User ID=sa;Password=sa-9602"
            providerName="System.Data.SqlClient" />
        <add name="xFilmEntities" connectionString="metadata=res://*/xFilmModel.csdl|res://*/xFilmModel.ssdl|res://*/xFilmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.240.0.4;initial catalog=xFilm3_NuStar;persist security info=True;user id=sa;password=sa-9602;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <xFilm5.QRStation.Properties.Settings>
            <setting name="BlueprintMachines" serializeAs="String">
                <value>efi</value>
            </setting>
            <setting name="BitmapUri" serializeAs="String">
                <value>\\192.168.12.230\JobsOrder\Bitmap</value>
            </setting>
            <setting name="BitmapUri_UserName" serializeAs="String">
                <value>MonAgent</value>
            </setting>
            <setting name="BitmapUri_UserPassword" serializeAs="String">
                <value>nx-9602</value>
            </setting>
            <setting name="ApiUri" serializeAs="String">
                <value>http://192.168.12.143/xFilm5.Api/</value>
            </setting>
            <setting name="CtpMachines" serializeAs="String">
                <value>PT-A, TG-A, TG-B</value>
            </setting>
            <setting name="Workshop" serializeAs="String">
                <value>KT</value>
            </setting>
        </xFilm5.QRStation.Properties.Settings>
    </applicationSettings>
</configuration>