<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xFilm5.QRStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <dataConfiguration defaultDatabase="xFilm5.QRStation.Properties.Settings.SysDb" />
    <connectionStrings>
        <add name="xFilm5.QRStation.Properties.Settings.SysDb" connectionString="Data Source=10.240.0.4;Initial Catalog=xFilm3_NuStar;Persist Security Info=True;User ID=sa;Password=sa-9602" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <xFilm5.QRStation.Properties.Settings>
            <setting name="BlueprintMachines" serializeAs="String">
                <value>eti</value>
            </setting>
            <setting name="CtpMachines" serializeAs="String">
                <value>TG-A, TG-B</value>
            </setting>
        </xFilm5.QRStation.Properties.Settings>
    </applicationSettings>
</configuration>