<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Blueprint_ServerUri" value="\\192.168.12.230" />
    <add key="Blueprint_UserName" value="MonAgent" />
    <add key="Blueprint_UserPassword" value="nx-9602" />
    <add key="Blueprint_SourcePath" value="\DirectPrint\EfiProof" />
    <add key="Blueprint_DestinationPath" value="\JobsOrder\EfiProof" />
    <add key="Blueprint_FileNamePrefix" value="efi" />

    <add key="Plate_ServerUri" value="\\192.168.12.230" />
    <add key="Plate_UserName" value="MonAgent" />
    <add key="Plate_UserPassword" value="nx-9602" />
    <add key="Plate_SourcePath" value="\JobsOrder\QRTIFF" />
    <add key="Plate_DestinationPath" value="\JobsOrder\TIFF" />
    <add key="Plate_FileNamePrefix" value="TG-A" />

    <add key="Cip3_ServerUri" value="\\192.168.12.230" />
    <add key="Cip3_UserName" value="MonAgent" />
    <add key="Cip3_UserPassword" value="nx-9602" />
    <add key="Cip3_SourcePath" value="\ds12230\TIFF\TG0390\AGFA\QRTIFF" />
    <add key="Cip3_DestinationPath" value="\JobsOrder\TIFF" />
    <add key="Cip3_FileNamePrefix" value="TG-A" />

    <add key="Film_ServerUri" value="\\192.168.12.230" />
    <add key="Film_UserName" value="MonAgent" />
    <add key="Film_UserPassword" value="nx-9602" />
    <add key="Film_SourcePath" value="\DirectPrint\FILM" />
    <add key="Film_DestinationPath" value="\JobsOrder\FILM" />
    <add key="Film_FileNamePrefix" value="" />
    <!-- Workshop Address -->
    <add key="KT (官塘)" value="NuStar Production Company\nBlock C, 6/F., Phase 2, Kwun Tong Ind. Center,\n460-470 Kwun Tong Road, Kowloon,\nHong Kong.\nTel: 24110810  Fax: 24152272" />

    <add key="SqlHelper" value="Data Source=10.240.0.4;Initial Catalog=xFilm3_NuStar;Persist Security Info=True;User ID=sa;Password=sa-9602" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
  <add name="xFilm5Entities" connectionString="metadata=res://*/Models.xFilm5Model.csdl|res://*/Models.xFilm5Model.ssdl|res://*/Models.xFilm5Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.240.0.4;initial catalog=xFilm3_NuStar;persist security info=True;user id=sa;password=sa-9602;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>